.btn-div{ 
    width:100%;
    display:inline-block;
    text-align:center;
}

button{
    width:15em;
    margin:1em;
}

h3{
    margin-bottom:1em;
    font-weight: 600;
}

.loading-spinner{
    margin-top: 10rem;
    text-align: center;
}